{
  "fullName": "",
  "title": "",
  "phoneNumber": "",
  "email": "",
  "linkedin": "",
  "website": "",
  "github": "",
  "aboutMe": "",
  "projects": [
    {
      "name": "",
      "description": "",
      "techStack": [],
      "live": "",
      "source": [
        {
          "type": "client",
          "url": ""
        },
        {
          "type": "backend",
          "url": ""
        }
      ]
    },
    {
      "name": "",
      "description": "",
      "techStack": [],
      "live": "",
      "source": [
        {
          "type": "mono",
          "url": ""
        }
      ]
    }
  ],
  "experience": [
    {
      "title": "",
      "company": "",
      "location": "",
      "dates": "",
      "description": ""
    }
  ],
  "skills": [""],
  "education": [
    {
      "degree": "",
      "school": "",
      "dates": ""
    }
  ],
  "languages": [
    {
      "language": "",
      "proficiency": ""
    }
  ]
}
